

body {
  font-family: Arial, sans-serif;
}

.container {

  margin: 0 auto;
  padding: 20px;
  width: 50%;
  
}
.file-diplay-container{
  display: flex;
  padding-top: 30px;
}
h1 {
  text-align: center;
  background-color: whitesmoke;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 8px #d5d5d5;
}


.file-uploader {
  text-align: center;
  margin-bottom: 20px;
}




.file-display {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  width: 60%;
  overflow: auto;
  max-height: 500px;
  white-space: pre-wrap;
  background: whitesmoke;
}

.word-counter{
  width: 30%;
}

@media screen and (max-width: 1400px) {

  .container {
    width: 100%;
    
  }
}
@media screen and (max-width: 700px) {

  .file-diplay-container{
    display: block;
   
  }
  .word-counter{
    width: 90%;
  }
  .file-display {
  
    width: 90%;
  
  }
}

